﻿body {
    font-family: "Calibre";
    font-size: 17px;
    margin: 0 auto;
    /*Too much
        border-top: 6px solid #f75b5b;
    border-bottom: 6px solid #f75b5b;*/
}


h1 {
    letter-spacing: -5px;
}

.root {
    display: block;
}

a{
    color: #383838;
}

    a:hover {
        color: #f2634b;
        text-decoration: none;
    }

.contentlink, .contentLink{
    color: #f2634b !important;
    text-decoration: underline !important;
}

.source{
    font-weight: bold;
}

.container, #__next {
    display: flex;
    flex-direction: column;
    min-height: calc(60vh + 26rem);
    justify-content: space-between;
    max-width: 100vw;
    padding-left: 0;
}

.sidebar {
    min-height: calc(30vh + 10rem);
    margin-left: 20px;
}

.content{
    padding-right: 30px;
}

/**/
.sectionroot {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

}

/**/
.sectioncontent {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 2rem 2rem;
    min-height: 100%;
}

.biglink {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #fff !important;
    background: #f2634b;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 3px;
}

.sectioncontent h1 {
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    line-height: .8em;
    font-weight: 700;
    padding-bottom: .3em;
    font-size: 14vw;
    overflow-x: hidden;
}

    /**/
    .sectioncontent h1 span {
        display: block;
    }

/**/
.sectioncontent p {
    padding: 0 1em 0 0;
    font-weight: 300;
    line-height: 1.3em;
    font-size: 1.6em;
    line-height: 1em !important;
    margin-bottom: 2em;
}

/**/
.imagecontainer {
    position: relative;
    left: 60vw;
    top: -25vw;
}
/**/
@media (min-width:768px) {
    .sectioncontent h1 {
        font-size: 6.4vw;
    }

    .biglink{
        font-size: 2vw;
    }

    .sectioncontent p {
        max-width: 60%;
        font-size: 2em;
        margin-bottom: 2em;
    }

    .imagecontainer {
        position: relative;
        left: 27vw;
        top: -24vw
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/static/img/react-spinner.gif') 50% 50% no-repeat rgb(249,249,249);
}

/**/
.sectionimg {
    display: block
}


/**/
.imagecontainer img {
    display: block;
    position: absolute;
    width: 30vw;
    z-index: 1
}

.contentimg, .contentImg {
    max-width: 100%;
}

footer {
    overflow: hidden;
    padding: 3em;
    background-color: #262626;
    color: #fff;
    display: block;
}

    footer p {
        font-size: 14pt !important;
    }

.innercontent {
    padding: 4rem 4rem;
    position: relative;
    padding: 1rem;
    padding-bottom: 3rem;
    color: #000;
    z-index: 0;
}

.sharedSection {
    margin: 0 auto;
}

    .sharedSection .intro {
        max-width: 55%;
        font-weight: 300;
        font-size: 24pt;
        line-height: 30px !important;
    }

 /*LOGO, TITLE*/
.navbar-brand {
    font-size: 22pt;
    color: #f2634b !important;
    font-weight: 700;
}

    .navbar-brand:hover {
        color: #f2634b !important;
    }

.brand {
    width: 64px;
}

/*TOPMENU*/
.top ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.top ul li ul {
    display: inline;
    margin: 0;
    padding: 0;
}

    .top ul li {
        list-style: none;
    }

        .top ul li a {
            position: relative;
            display: block;
            text-align: center;
            margin: 1px 25px;
            color: #262626;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
            padding: 5px 10px;
        }


            .top ul li a:hover, .top ul li a.active {
                color: #fff !important;
                background: #f2634b;
                text-decoration: none;
                border-radius: 3px;
            }



            .top ul li a:before {
                content: '';
                position: absolute;
                bottom: 12px;
                left: 12px;
                width: 12px;
                height: 12px;
                border: 3px solid #f2634b;
                border-width: 0 0 3px 3px;
                transition: .5s;
                opacity: 0;
            }



            .top ul li a:after {
                content: '';
                position: absolute;
                top: 12px;
                left: 12px;
                width: 12px;
                height: 12px;
                border: 3px solid #f2634b;
                border-width: 3px 3px 0 0;
                transition: .5s;
                opacity: 0;
            }

        .top ul li a:hover:before, .top ul li a.active:before {
            bottom: -12px;
            left: -12px;
            opacity: 1;
        }


.navbar-light .navbar-brand a {
    color: #f2634b !important;
}



.hidden {
    display: none;
}


.sectioncontent header h2 {
    font-weight: 700;
    font-size: 50px;

}

/*Grid template*/
.shared_grid {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    display: grid;
    grid-gap: 1rem;
}

    .shared_grid li {
        padding: 2px 4px;
        line-height: 28px;
    }

    .shared_grid p, .sharedSection p {
        max-width: 100%;
        font-size: 14pt;
        font-weight: 500;
        line-height: 24px !important;
    }

    .shared_grid h2 {
        display: block;
        font-size: 18pt;
        font-weight: 700;
    }

.mini {
    width: 60px;
    float: left;
    margin-right: 20px;
}

.small {
    width: 30px;
    float: left;
    margin-right: 20px;
}

.big {
    width: 60px;
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}

.mobile {
    background: #eee;
}

.tomato {
    background: #f2634b;
    color: #fff;
}

@media (max-width:768px) {
    .shared_grid {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0;
    }

    .sectioncontent header h2 {
        font-size: 28pt;
    }

    .navbar-collapse ul li {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .sharedSection .intro {
        max-width: 100%;
        font-weight: 300;
        font-size: 24pt;
        line-height: 30px !important;
    }

    .hidden {
        display: inline;
    }
}

a, button, submit {
    outline: none !important;
}

.container {
    padding-right: 0;
}



.timeliner {
    margin: 0 auto;
    border-left: 1px solid #f2634b;
    padding: 0px 30px;
}


    .timeliner h3 {
        font-size: 18pt;
        font-weight: bold;
        color: #383838;
    }

    .timeliner header div{
        margin-bottom: 30px;
    }

.timeline-point {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.timeline-icon {
    position: absolute;
    top: 9px;
    left: -38px;
    right: 0;
    background: transparent url(/static/img/dot.svg);
    height: 16px;
    width: 16px;
}

.timeliner header h2 {
    display: block;
    margin-bottom: -10px;
}
.timeline-block em{
    font-size: 8pt;
}

.timeliner a {
    display: block;
}

.timeliner a.active {
    font-weight: bold;
}

.timeliner h4 {
    margin-bottom: 20px;
}

.dotted {
    border-top: dotted 1px;
    border-color: #b2b2b2;
}


.navbar-toggler, .dropdown-menu {
    border: none !important;
}


/*Override bootstrap padding*/
.nav-link {
    padding: 5px 10px !important;
}

.searchList{
    max-width: 80vw;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.searchList li{
    display: inline-block;
    margin-bottom: 20px;
}

    .searchList li a {
        font-weight: bold;
        text-decoration: underline;
    }


.box {
    display: block;
    padding: 20px;
    background: #f85a3e;
}

    .box img {
        display: block;
        text-align: right !important;
    }

    .box img::after{
        clear: both;
    }

    .icon-fluid {
        padding: 0 10px 4px 0 !important;
        max-width: 80px;

    }

.cornered{
    border-radius: 4px;
}

.cv{
    color: #808080;
}

.cv h2, .cv h3{
    color: #f2634b;
}

.cv h1{
    font-size: 5vw;
    color: #383838;
}

.cv-side{
    background: #b2b2b2;
    margin-top: 270px;
}

.cv-side p{
    font-size: 12pt;
}

    .cv-side h3 {
        text-transform: uppercase;
        color: #f2634b;
    }

    .cv-img{
        max-width: 20vw;
    }

    .codeblock{
        padding: 8px 10px;
        background: #eee;
    }