﻿
/*
    Contains a hybrid menu version of bootstrap's default navigation.

    Assaign default settings when in PC mode
*/
#menuControlClose a{ 
    display: none;
}

.overlay {
    width: auto;
}

.overlay-icon{
    display: none;
}

.version{
    display: none;
}


/*
    Apply settings when in mobile mode
*/
@media screen and (max-width: 992px) {

    .overlay-icon {
        padding: 0px 25px;
        display: block;
        max-width: 200px;
    }

    .stop-scrolling {
        width: 100vw; /*can also use %*/
        height: 100vh; /*can also use %*/
        overflow: hidden;
    }

    .version {
        position: absolute;
        right: 25px;
        bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
    }

    .navbar{
        text-align: left !important;
    }

    .navbar-brand {
        color: #f2634b !important;
    }

    #menuControlClose a{
        display: block;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        right: 0;
        top: 0;
        background-color: #f2634b;
        overflow: hidden !important;
        transition: all .3s ease-in-out;
        padding-top: 30px;
        text-align: left !important;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100vw;
        text-align: left !important;
        margin-top: 30px;
    }


    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #fff;
        transition: 0.3s;
        text-align: left;
    }

    #menuControlClose a {
        cursor: pointer;
        z-index: 1001;
        position: absolute;
        top: -20px;
        right: 11px;
        font-size: 60px;
        color: #fff !important;
    }

    #menuControlClose a:hover {
        color: #fff !important;
    }

    #nav a {
        color: #fff !important;
        transition: 0s !important;
    }
        #nav a:hover, #nav a.active {
           
            color: #cecece !important;
        }

    .nav-item {
        margin-left: 0;
        text-align: left !important;
        transform: translate3d(-100px, 0, 0);
        transition: transform .15s ease-in;
    }

    #nav a:before {
        border-width: 0;
        opacity: 1;
    }

    #nav a:after {
        border-width: 0;
        opacity: 1;
    }

    .menu-active {
        height: 100vh;
        overflow: hidden;
        width: 100%;
    }

        .menu-active li {
            transform: translate3d(100px, 0, 0);
            transition: transform .15s ease-in;
        }

        .menu-active li:first-child {
            transition-delay: .1s;
        }

        .menu-active li:nth-child(2) {
            transition-delay: .2s;
        }

            .menu-active li:nth-child(3) {
                transition-delay: .3s;
            }

            .menu-active li:nth-child(4) {
                transition-delay: .4s;
            }

            .menu-active li:nth-child(5) {
                transition-delay: .5s;
            }

        .menu-active li:last-child {
            transition-delay: .6s;
        }
}
