﻿

.overlay-sub, .overlay-sub-action {
    display: none;
}

@media screen and (max-width: 992px) {

    .sidebar{
        display: none;
    }

    .overlay-sub, .overlay-sub-action {
        display: block;
        margin-bottom: 20px;
    }

    .overlay-sub {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content-sub {
        position: relative;
        width: 100%;
        text-align: left;
    }

        .overlay-content-sub .timeliner{
           margin-left: 20px;
        }

        .overlay-content-sub ul {
            margin: 0 0 0 20px;
            padding: 0;
            list-style: none;
        }


    .overlay-sub a {
        padding: 8px;
        text-decoration: none;
        font-size: 4vw !important;
        color: #383838;
        display: block;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .menu-sub-active {
        height: 100vh;
        width: 100%;
    }

    #subnav {
        background: #f2634b;
        padding: 10px 4px;
        color: #fff;
        font-weight: bold;
    }


    #menuSubControlClose {
        z-index: 2;
        position: absolute;
        top: -10px;
        cursor: pointer !important;
        right: 20px;
        font-size: 12vw !important;
    }
}